@keyframes flash {
  0% {
    background-color: #009432;
  }

  10% {
    background-color: #ea2027;
  }

  20% {
    background-color: #0652dd;
  }

  30% {
    background-color: #ee5a24;
  }

  40% {
    background-color: #833471;
  }

  50% {
    background-color: #d980fa;
  }

  60% {
    background-color: #f79f1f;
  }

  70% {
    background-color: #12cbc4;
  }

  80% {
    background-color: #009432;
  }

  90% {
    background-color: #006266;
  }

  100% {
    background-color: #6f1e51;
  }
}

@keyframes bounce {
  0% {
    transform: scale(1) rotate(0deg);
  }

  25% {
    transform: scale(1.5) rotate(20deg);
  }

  50% {
    transform: scale(1) rotate(0deg);
  }

  75% {
    transform: scale(1.5) rotate(-20deg);
  }

  100% {
    transform: scale(1) rotate(0deg);
  }
}

.app {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100vh;
  font-size: 3vmin;
  text-align: center;
  padding: 5vmin;
}

.app--done {
  animation: flash 3s linear infinite;
  color: #fff;
}

.app__done {
  animation: bounce 1s linear infinite;
  font-size: 10vmin;
}

.app__segments {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5vmin;
  max-width: 100%;
}
