* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

body {
  background-color: #000;
  color: #fff;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-family: "Ubuntu", sans-serif;
}
